$grid-width: 9;
$box-size: 15px;

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: antiquewhite;
}

// HEADER
.header {
  margin: 4% auto 2%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

// GRID
.grid-container-container {
  margin: 0 auto;
  width: $grid-width * $box-size*2.5;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat($grid-width, $box-size*2.5); /* Adjust the width of columns as needed */
}

.grid-item {
  border: 1px solid black;
  border-radius: 5px;

  padding: 10px;
  text-align: center;
  width: $box-size;
  height: $box-size;

  font-family: Arial, Helvetica, sans-serif;
}

// NEXT LETTERS, SCORING, PAST WORDS
.game_meta_text {
  font-family: Arial, Helvetica, sans-serif;
}

.last_words_indent {
  margin-left: 5%;
}

// ARROWS
.arrow-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 170px;

  display: grid;
  grid-template-columns: repeat(4, 25px);
  gap: 20px;
}

.arrow-button{
  background: none;
  border: none;
  text-align: center;
  width: 35px;
  height: 35px;
  font-size: 25px;
  padding: 0;
}
