$grid-width: 9;
$box-size: 15px;

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: antiquewhite;
}

.header {
  margin: 1% auto;
  width: 15%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container-container {
  margin: 0 auto;
  width: $grid-width * $box-size*2.5;
}

//@media screen and (max-width: 767px) {
//  .grid-container-container {
//    width: 100%; /* Set width to 100% for mobile devices */
//  }
//}

.grid-container {
  display: grid;
  grid-template-columns: repeat($grid-width, $box-size*2.5); /* Adjust the width of columns as needed */
}

.grid-item {
  border: 1px solid black;
  border-radius: 5px;

  padding: 10px;
  text-align: center;
  width: $box-size;
  height: $box-size;

  font-family: Arial, Helvetica, sans-serif;
}

.arrow-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;

  display: grid;
  grid-template-columns: repeat(4, 25px);
  gap: 15px;
}

.arrow-button{
  text-align: center;
  width: 25px;
  height: 25px;
  font-size: 25px;
}